body{
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  flex-flow: row wrap;
  align-items: center;
  height: 900px;
}

div {
  margin: 10px;
  width: 200px;
  height: 100px;
  border: 2px solid red;
  background-color: gray;
  /*flex: 0 4 auto;*/
}



.num002 {
    align-self: flex-end;
}
