/*css-reset.................................................................*/


/*Header-Nav................................................................*/

header {
    margin-top: 1.5rem;
}

header>h1:first-child {
    font-size: 2rem;
    letter-spacing: 0;
    word-spacing: 0;
}

nav.main {
  width: 42rem;
    /*display: none;*/
}

div.line {
  display: none;
}


/*End Header-Nav............................................................*/

section {
    height: 42rem;
    margin-top: 1rem;
}

section.atf-photo {
    background-image: url("images/beachmom.jpg");
    /**/
    background-size: cover;
    /**/
    background-position: center;
    /**/
}

div.layer {
    height: 20rem;
    /**/
    width: 20rem;
    /**/
}

h1.layer {
    font-size: 3.5rem;
    /**/
}

p.layer {
    line-height: 2rem;
    /**/
    font-size: 1.25rem;
    /**/
}


/*Test Your Home Today - Button.............................................*/


/*Articles...................................................................*/

article {
    width: 42rem;
    /**/

    /**/
}

div.list {
    width: 42rem;
    /**/
    flex-flow: row wrap;
    /**/
}

div.longline {
  width: 42rem;
}


/*Tables.....................................................................*/

table {
    font-size: .8rem;
    /**/
}


/*rounding table borders---------------*/


/*end rounding table borders-------------*/

td, th {
    padding: .3rem;
    /**/
}


/*About Section..............................................................*/

section.about {
    background-image: url("images/us_left_web_30.jpg");
    /**/
}


/*footer....................................................................*/

p.footer, a.footer {
    width: 95%;
    /**/
    padding: .25rem;
    /**/
}
