.text001 {
  width: 100%;
}

.text002 {
  width: 100%;
}

.text003 {
  width: 100%;
}

.text004 {
  width: 100%;
}

.text005 {
  width: 100%;
}

.text006 {
  width: 100%;
}

.text007 {
  width: 100%;
}
