html, body, div, header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.atf {
  height: 100vh;
  width: 100%;
  background-image: url("darth_vader_1920x1080.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*positioning*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: whitesmoke;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 5px;
  opacity: .6;
  font-size: 11rem;
}
